.wrapper > div{
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  width: 100px;
  text-align: center;
  position: relative;
}

.menu{
  position: absolute;
  font-size: 1rem;
  right: Calc(100%);
  top: Calc(4rem + 10px);
}

.menu > .item {
  display: block;
  width: 6rem;
  padding: .5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.menu > .item.selected {
    background: black;
    color: white;
    animation: none;
}

.menu > .item.no-top {
    padding-top: Calc(.5rem - 5px);
}

.menu > .item.no-bottom {
    padding-bottom: Calc(.5rem - 5px);
}

.title-wrapper{
  display: inline-block;
  width: 35rem;
  max-width: Calc(100vw - 2rem);
  min-width: 380px;
  position: relative;
  padding-bottom: Calc(4rem + 10px);
}

.title{
  font-size: 3rem;
  padding: Calc(50vh - 9rem) 0rem .5rem 1rem;
  display: block;
  text-align: left;
}

.subtitle{
  float: right;
  padding: 1rem;
  position: relative;
  font-size: 2rem;
  margin-top: -5px;
  width: 10rem;
}

.decoration-a,.decoration-b,.decoration-c,.decoration-d,.decoration-e,.decoration-f,.decoration-g,.decoration-h,.decoration-i,.decoration-j{
  pointer-events: none;
  z-index: -1;
}

.decoration-a {
    height: Calc(100% - 1rem);
    right: -5px;
    width: Calc(100% - 1rem);
    display: inline-block;
    position: absolute;
    bottom: 0;
    z-index: -2;
}

.decoration-b {
    width: Calc(17rem - 5px);
    height: Calc(3rem );
    position: absolute;
    bottom: Calc(1rem - 5px);
    z-index: -1;
}

.decoration-c{
    height: Calc(50vh - 10rem - 5px);
    width: 100%;
    right: Calc(0px);
    position: absolute;
    bottom: 3rem;
}

.decoration-d{
  width: Calc(100% - 13rem);
  height: Calc(1rem - 10px);
  position: absolute;
  margin-top: 0;
}

.decoration-e{
    width: Calc(100% + 1rem + 0px);
    margin-top: -5px;
    position: relative;
    top: 1rem;
    left: -5px;
    height: Calc(14rem + 50px);
}

.decoration-f{
  display: inline-block;
  height: Calc(9rem + 40px);
  width: Calc(8rem + 32px);
  right: Calc(-10rem - 11px);
  position: absolute;
  bottom: -5px;
}

.decoration-g{
    width: Calc(9rem + 5px);
    height: Calc(1rem - 10px);
    display: block;
    position: relative;
    float: right;
    margin-right: -5px;
    top: Calc(3rem + 10px);
}

.decoration-h {
    height: Calc(11rem + 40px);
    width: Calc(100% - 18rem - 90px);
    position: relative;
    top: Calc(3rem + 10px);
    left: Calc(1rem + 0px);
}

.decoration-i {
    position: absolute;
    bottom: 0;
    width: Calc(12rem + -5px);
    top: Calc(100% + 5px);
    height: Calc(1rem - 10px);
    right: 0px;
}

.decoration-j{
  position: absolute;
  width: Calc(100% - 3rem + 16px);
  right: -5px;
  top: Calc(5rem + 10px);
  height: Calc(55px + 9rem);
}

.menu-open .decoration-e {
    width: Calc(100% + 2rem + 5px);
}

.menu-open .decoration-f {
    height: Calc(8rem + 40px);
    width: Calc(6rem + 22px);
    right: Calc(-8rem + -1px);
}

.menu-open .decoration-j {
    width: Calc(7rem + 5px);
}

.menu-selector-a, .menu-selector-b, .menu-selector-c, .menu-selector-d{
  display: none;
}

.selected.menu-selector-a {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  height: Calc(8rem + 40px);
  width: Calc(8rem + 30px);
  top: Calc(6rem + 10px);
  right: Calc(1rem - 5px);
}

.selected .menu-selector-b {
    display: block;
    width: Calc(100% - 2rem - 5px);
    height: Calc(2rem - 10px);
    right: -5px;
    position: absolute;
    bottom: Calc(-2rem - 0px);
}

.menu-opened .menu .item,
.menu-open .menu .item {
  animation-delay: 0s !important;
  animation-duration: 0s !important;
} 

.menu-open .selected .menu-selector-c, 
.menu-open .selected .menu-selector-d {
    display: block;
    width: Calc(1rem - 3px);
    height: Calc(8rem + 21px);
    position: absolute;
    bottom: Calc(1rem - 2px);
    right: Calc(-1rem - 7px);
}

.menu-open .selected .menu-selector-d {
  height: Calc(1rem + 10px);
}

.title {
    height: 3rem;
    padding-bottom: 1rem;
}

body{
  margin: 0;
  font-family: Lusitana, serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, div, i {
    -webkit-font-smoothing: antialiased;
}

.about-wrapper,
.portfolio-wrapper{
  width: 35rem;
  max-width: Calc(100vw - 2rem);
  margin-top: Calc(1rem - 5px);
  min-width: 380px;
  text-align: left;
  display: none;
}

.about-wrapper.selected,
.portfolio-wrapper.selected {
  display: inline-block;
}

.about,
.portfolio {
   width: Calc(100% - 10px);
}

.portfolio-item {
    margin: Calc(2rem + 5px) 0;
    font-weight: 400;
}

.portfolio-item .name {
    font-size: 1.5rem;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
}

.about-title,
.portfolio-title {
    font-size: 2rem;
    font-weight: 600;
    margin: -5px 0 Calc(-1rem - 5px) -5px;
    padding: 1rem;
    width: Calc(100% - 9rem - 30px);
}

.portfolio-item .description {
    padding: 1rem;
}

.code, .result {
    padding: .5rem .5rem Calc(1rem - 14px) .5rem;
    cursor: pointer;
}

.about-image {
    padding: 1rem;
    float: right;
    width: 50%;
    margin: 1rem Calc(-1rem - 5px) 1rem 1rem;
}

.about-image.dm.dm-cw-blt {
    border-right: 5px solid white;
}

.about-image > img {
  width: 100%;
  animation: image-animation 1s;
  animation-delay: inherit;
  animation-fill-mode: both;
}

.about-description {
    padding: 1rem;
}

.about {
    margin-bottom: 1rem;
}

@keyframes image-animation{
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}